@import url(variables.css);

.breadcrumb {
    height: 53px;
    background: var(--gray-200);
}

.breadcrumb__flex {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 8px;
}

.breadcrumb__flex>p:last-of-type {
    color: var(--gray-600);
}

/********************
*********FILTERS*****
********************/

.filters__flex,.filters {
    margin-top: 32px;
}

.btn__regular {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    background-color: var(--primary);
    width: 191px;
    height: 44px;
    border-radius: 4px;
    padding: 0 32px;
    color: #fff;
    text-decoration: none;
}
.filters__flex{
    width: 255px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card{
    position: relative;
}

.card:not(.last)::after{
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--gray-300);
}

.filters__flex .card .card-body{
    display: none;
    padding-top: 16px;
}

.filters__flex .card:nth-child(1) .card-body{
    display: block;

}
.input__form{
    border-radius: 4px;
border: 1px solid var(--gray-400, #D7DADD);
background: var(--white, #FFF);
width: 255px;
height: 36px;
box-sizing: border-box;
padding: 9px 12px;
display: flex;
justify-content: space-between;
align-items: center;
}

.input__form>input{
    outline: none;
    border: none;
    height: 100%;
    max-width: 100%;
}

.input__form>input::placeholder{
    color: var(--gray-600);
}

.input__form>button{
    background: none;
    border: none;
    cursor: pointer;
}
.card-header{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.checkbox__form{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checkbox__form_label{
    display: flex;
    gap: 12px;
    align-items: center;

}

.filters__checkbox_name>span{
    font-size: 14px;
    color: var(--gray-600);
}