:root{
    --gray-900: #1E212C;
    --gray-800: #424551;
    --gray-700: #787A80;
    --gray-600: #9A9CA5;
    --gray-300: #E5E8ED;
    --gray-200: #F4F5F6;
    --primary: #17696A;
    --danger: #FF4242;
    --opacity: 0.6;
    --left-right-bottom: 40px;
    --section-margin-top: 180px
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

p, h1, h2, h3, h4, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
}

.h2-options{
    font-size: 46px;
    color: var(--gray-900);
    font-weight: 900;
    text-align: center;
}